.nav__item {
	margin-bottom: 30px;
}

.nav__label {
	display: block;
	padding: 20px;
	font-size: 20px;
	background-color: #99004d;
	color: #ffffff;
	cursor: pointer;
}

.nav__input {
	display: none;
}

.nav__body {
	width: auto;
	height: 0;
	margin: -10px;
	display: flex;
	flex-direction: column;
	align-self: center;
	overflow: hidden;
	transition: margin 0.5s;
}

.nav__item .nav__input:checked + .nav__body {
	height: auto;
	margin: 0;
}

.nav__flags {
	display: inline-flex;
	justify-content: center;
}

.flags {
	margin-bottom: 20px;
}

.nav__flag {
	position: relative;
	width: 70px;
	height: 50px;
	padding: 10px;
	border-radius: 0 0 35px 35px;
	background-color: #000;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.nav__flag.flag {
	margin-right: 10px;
	text-align: center;
}

.nav__flag.flag:last-child {
    margin-left: 0;
}

.nav__flag.active {
	background-color: #99004d;
}

.nav__content {
	display: none;
	padding: 15px;
	grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
	background-color: #e6f7ff;
}

.content__link {
	text-decoration: none;
	color: #000;
}

.content__link:hover {
	color: #0066ff;
	text-decoration: underline;
}

@media (max-width: 727px) {
    .nav__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .nav__content {
        grid-template-columns: repeat(1, 1fr);
    }
}

