.nav {
  margin-bottom: 30px;
}

.car-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.car-block__row {
  display: flex;
  gap: 10px;
}

.car-block__btns {
  margin-top: 20px;
}

.garage__header {
  display: flex;
  margin-bottom: 15px;
}

.garage__title,
.garage__quantity {
  font-size: 24px;
  font-weight: bold;
}

.garage-page__body {
  margin-top: 30px;
}

.garage__pages {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  gap: 5px;
  font-size: 20px;
}

.race {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}

.race__row {
  padding-top: 20px;
  border-bottom: 3px dashed #339933;
}

.car__header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.car__btn_remove {
  margin-right: 15px;
}

.row__body {
  display: flex;
}

.car__btns {
  margin-right: 20px;
}

.car__img {
  width: 50px;
}

.car__race-line {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
  flex-grow: 1;
}

.race__flag {
  width: 30px;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  font-size: 30px;
  color: red;
  transform: translateX(-50%);
  border: 1px solid #000;
}