.action-list__color {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.filter-label::after {
	border: 1px solid #000;
}

.action-list__input:checked + .filter-label::after {
	padding: 4px;
	background-color: #000;
	background-clip: content-box;
}

.range-container {
	height: 80px;
}

.range-container .noUi-target {
	padding: 30px 20px;
	border: none;
	background: none;
	box-shadow: none;
}

.range-container .noUi-connects {
	height: 10px;
	background: #FAFAFA;
	border-radius: 4px;
	border: 1px solid #D3D3D3;
}

.range-container .noUi-connect {
	background-color: #808080;
}

.range-container .noUi-handle {
	height: 18px;
	width: 18px;
	top: -5px;
	right: -9px;
	border-radius: 9px;
}

.range-container .noUi-handle::before,
.range-container .noUi-handle::after {
	display: none;
}

.range-container .noUi-tooltip {
	border: none;
}