.winners {
  display: none;
}

.winners__header {
  display: flex;
  margin-bottom: 15px;
}

.winners__pages {
  display: flex;
  padding-bottom: 10px;
  gap: 5px;
  font-size: 20px;
}

.winners__title,
.winners__quantity {
  font-size: 24px;
  font-weight: bold;
}

.winners__table {
  display: inline-block;  
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.winner-table__headers,
.winner-table__row {
  display: grid;
  padding: 5px 0;
  grid-template-columns: 40px 50px 180px 75px 75px;
}

.winner-table__headers {
  border-bottom: 2px solid #fff;
}

.winners__wins,
.winners__time {
  cursor: pointer;
}

.winner-table__cell {
  align-self: center;
}

.winner-table__img {
  width: 30px;
}

.winners__btns {
  margin-top: 40px;
}

