.action__container {
	position: absolute;
	top: 100px;
	z-index: 999;
	display: none;
}

.action-list {
	display: none;
	min-width: 300px;
	padding: 15px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	background-color: #fff;
}

.action-list.active {
	display: block;
}

.action-list__item {
	padding: 15px;
}

.action-list__label {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.action-list__label::after {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
}

.sort-label::after {
	border: 1px solid #000;
	border-radius: 20px;
}

.action-list__input:checked + .sort-label::after {
	padding: 3px;
	background-color: #000;
	background-clip: content-box;
}

.action-list__input {
	display: none;
}